* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.menu_bar {
  width: 17%;
  height: 100%;
  overflow-y: auto;
  /* background-color: darkturquoise; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* overflow: scroll; */
  position: fixed;
  top: 10%;
  left: 0px;
}

.menu_bar::-webkit-scrollbar {
  width: 10px;
  overflow: scroll;
  position: absolute;
  top: 64px;
  bottom: 0;
}
.menu_bar:hover::-webkit-scrollbar-thumb {
  background-color: rgb(172, 172, 172);
  border-radius: 50px;
}

.menu_bar p {
  font-size: 14px;
}
.menu_home {
  width: 90%;
  /* background-color: violet; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4% 0%;
  cursor: pointer;
  border-radius: 10px;
}
.menu_home:hover {
  background-color: rgb(230, 229, 229);
}
.home_icon_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: yellow; */
  width: 30%;
}
.menu_home_txt {
  /* background-color: tomato; */
  width: 70%;
}
.menu_shorts {
  width: 90%;
  /* background-color: violet; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4% 0%;
  cursor: pointer;
  border-radius: 10px;
}
.menu_shorts:hover {
  background-color: rgb(230, 229, 229);
}
.shorts_icon_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: yellow; */
  width: 30%;
}
.menu_shorts_txt {
  width: 70%;
}
.menu_sub {
  width: 90%;
  /* background-color: violet; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4% 0%;
  cursor: pointer;
  border-radius: 10px;
}
.menu_sub:hover {
  background-color: rgb(230, 229, 229);
}
.sub_icon_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: yellow; */
  width: 30%;
}
.menu_sub_txt {
  width: 70%;
}
.line_menu {
  margin-top: 5%;
  height: 1%;
  width: 100%;
  border-top: 1px solid rgb(226, 226, 226);
  margin-bottom: 5%;
}
.menu_library {
  width: 90%;
  /* background-color: violet; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4% 0%;
  cursor: pointer;
  border-radius: 10px;
}
.menu_library:hover {
  background-color: rgb(230, 229, 229);
}
.library_icon_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: yellow; */
  width: 30%;
}
.menu_library_txt {
  width: 70%;
}
.menu_history {
  width: 90%;
  /* background-color: violet; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4% 0%;
  cursor: pointer;
  border-radius: 10px;
}
.menu_history:hover {
  background-color: rgb(230, 229, 229);
}
.history_icon_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: yellow; */
  width: 30%;
}
.menu_history_txt {
  width: 70%;
}
.sign_in_text {
  font-size: 14px;
  margin-bottom: 10%;
}
.sign_in_icon {
  color: rgb(24, 151, 255);
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.5px solid rgb(230, 229, 229);
  border-radius: 50px;
  padding: 6px 0px;
  cursor: pointer;
}
.sign_in_icon:hover {
  background-color: rgb(221, 249, 255);
}
.explore_menu {
  /* background-color: yellow; */
  margin-top: 3%;
  width: 80%;
  display: flex;
  justify-content: start;
  margin-bottom: 1%;
}
.explore_menu p {
  font-size: 16px;
}
.menu_trending {
  width: 90%;
  /* background-color: violet; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4% 0%;
  cursor: pointer;
  border-radius: 10px;
}
.menu_trending:hover {
  background-color: rgb(230, 229, 229);
}
.trending_icon_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: yellow; */
  width: 30%;
}
.menu_trending_txt {
  width: 70%;
}
.menu_music {
  width: 90%;
  /* background-color: violet; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4% 0%;
  cursor: pointer;
  border-radius: 10px;
}
.menu_music:hover {
  background-color: rgb(230, 229, 229);
}
.music_icon_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: yellow; */
  width: 30%;
}
.menu_music_txt {
  width: 70%;
}
.menu_gaming {
  width: 90%;
  /* background-color: violet; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4% 0%;
  cursor: pointer;
  border-radius: 10px;
}
.menu_gaming:hover {
  background-color: rgb(230, 229, 229);
}
.gaming_icon_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: yellow; */
  width: 30%;
}
.menu_gaming_txt {
  width: 70%;
}
.menu_news {
  width: 90%;
  /* background-color: violet; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4% 0%;
  cursor: pointer;
  border-radius: 10px;
}
.menu_news:hover {
  background-color: rgb(230, 229, 229);
}
.news_icon_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: yellow; */
  width: 30%;
}
.menu_news_txt {
  width: 70%;
}
.menu_sports {
  width: 90%;
  /* background-color: violet; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4% 0%;
  cursor: pointer;
  border-radius: 10px;
}
.menu_sports:hover {
  background-color: rgb(230, 229, 229);
}
.sports_icon_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: yellow; */
  width: 30%;
}
.menu_sports_txt {
  width: 70%;
}
.menu_browse {
  width: 90%;
  /* background-color: violet; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4% 0%;
  cursor: pointer;
  border-radius: 10px;
}
.menu_browse:hover {
  background-color: rgb(230, 229, 229);
}
.browse_icon_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: yellow; */
  width: 30%;
}
.menu_browse_txt {
  width: 70%;
}
.more_youtube_menu {
  /* background-color: yellow; */
  margin-top: 3%;
  width: 80%;
  display: flex;
  justify-content: start;
  margin-bottom: 1%;
}
.more_youtube_menu p {
  font-size: 16px;
}
.menu_yt_music {
  width: 90%;
  /* background-color: violet; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4% 0%;
  cursor: pointer;
  border-radius: 10px;
}
.menu_yt_music:hover {
  background-color: rgb(230, 229, 229);
}
.yt_music_icon_menu {
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: yellow; */
  width: 30%;
}
.menu_yt_music_txt {
  width: 70%;
}
.menu_yt_kids {
  width: 90%;
  /* background-color: violet; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4% 0%;
  cursor: pointer;
  border-radius: 10px;
}
.menu_yt_kids:hover {
  background-color: rgb(230, 229, 229);
}
.yt_kids_icon_menu {
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: yellow; */
  width: 30%;
}
.menu_yt_kids_txt {
  width: 70%;
}
.menu_yt_tv {
  width: 90%;
  /* background-color: violet; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4% 0%;
  cursor: pointer;
  border-radius: 10px;
}
.menu_yt_tv:hover {
  background-color: rgb(230, 229, 229);
}
.yt_tv_icon_menu {
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: yellow; */
  width: 30%;
}
.menu_yt_tv_txt {
  width: 70%;
}
.menu_settings {
  width: 90%;
  /* background-color: violet; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4% 0%;
  cursor: pointer;
  border-radius: 10px;
}
.menu_settings:hover {
  background-color: rgb(230, 229, 229);
}
.settings_icon_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: yellow; */
  width: 30%;
}
.menu_settings_txt {
  width: 70%;
}
.menu_report {
  width: 90%;
  /* background-color: violet; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4% 0%;
  cursor: pointer;
  border-radius: 10px;
}
.menu_report:hover {
  background-color: rgb(230, 229, 229);
}
.report_icon_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: yellow; */
  width: 30%;
}
.menu_report_txt {
  width: 70%;
}
.menu_help {
  width: 90%;
  /* background-color: violet; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4% 0%;
  cursor: pointer;
  border-radius: 10px;
}
.menu_help:hover {
  background-color: rgb(230, 229, 229);
}
.help_icon_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: yellow; */
  width: 30%;
}
.menu_help_txt {
  width: 70%;
}
.menu_feedback {
  width: 90%;
  /* background-color: violet; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4% 0%;
  cursor: pointer;
  border-radius: 10px;
}
.menu_feedback:hover {
  background-color: rgb(230, 229, 229);
}
.feedback_icon_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: yellow; */
  width: 30%;
}
.menu_feedback_txt {
  width: 70%;
}
.first_section_txt {
  margin-top: 1%;
  width: 85%;
  /* background-color: chartreuse; */
}
.txt_section {
  width: 78%;
  /* background-color: yellow; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1%;
}
.contact_link li {
  /* background-color: yellow; */
  list-style: none;
  /* width: 78%; */
  /* background-color: yellow; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1%;
}
.contact_link li a {
  list-style: none;

  text-decoration: none;
  width: 100%;
  /* background-color: violet; */
  cursor: pointer;
  font-size: 13px;
  color: #606060;
  transition: 0.2s ease-in-out;
}
.contact_link li a:hover {
  color: #1a1a1a;
  transition: 0.2s ease-in-out;
}
.txt_section p {
  width: 100%;
  /* background-color: violet; */
  cursor: pointer;
  font-size: 13px;
  color: #606060;
}
.txt_section_second {
  width: 100%;
  /* background-color: yellow; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1%;
}
.txt_section_second p {
  width: 100%;
  /* background-color: violet; */
  cursor: pointer;
  font-size: 13px;
  color: #606060;
}
.second_section_txt {
  margin-top: 1%;
  width: 85%;
  /* background-color: chartreuse; */
}
.txt_section_txt p {
  width: 100%;
  /* background-color: violet; */
  cursor: pointer;
  font-size: 13px;
  color: #606060;
}
.footer {
  margin-top: 8%;
  width: 75%;
  /* background-color: aqua; */
  /* margin-bottom: 20px; */
}
.footer p {
  font-size: 11px;
  color: #909090;
  margin-bottom: 74px;
}
